{% extends "base.html" %}

{% block content %}

<h3>Lista de Pacientes</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for p in pacientes %}
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.nome }}</td>
      <td>{{ p.cpf }}</td>
      <td>
        <a href="{{ url_for('editar', id=p.id) }}" class="btn btn-warning btn-sm">
          Editar
        </a>

        <form method="POST" action="{{ url_for('deletar', id=p.id) }}" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm">
            Excluir
          </button>
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">Nenhum paciente encontrado</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}